  <h1>Contact Us</h1>
  <h2><%= link_to "Surya DaVinci","https://github.com/suryadavinci" %></h2>
  <h3>Residence</h3>
  <h4>Pondicherry</h4>
  <h5>Office</h5>
  <h6>Chennai</h6>

  <p>Find me in app/views/static_pages/nothing.html.erb</p>
